:root{
    --gren : #C2DFC3;
    --red : #8E2747;
    --blue : #163342;
    --yellow : #F7C77D;
    --fuente : #4D4D4D;

}

* {
    font-family: 'Raleway', sans-serif;
    color: var(--fuente);
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 38px;
}
header {
    background-color: var(--gren);
}
ul {
    list-style: none;
}
h1 {
    font-size: 36px;
}

#menu {
    flex-direction: column;
}
#menu > li {
    flex: auto;
    text-align: center;
    line-height: 28px;
    margin-bottom: 1em;
}
#menu > li > a {
    font-size: 17px;
    line-height: 17px;
}
#menu >li > a > img {
    width: 40px;
    height: 40px;
}
#menu > li > a > br {
    line-height: 17px;
}
.bg-red {
    background-color: var(--red);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-green {
    background-color: var(--gren);
}
.bg-blue {
    background-color: var(--blue);
}
.color-yellow {
    color: var(--yellow);
}
.color-red {
    color: var(--red);
}
.bg-red p {
    font-style: italic;
    color: var(--yellow);
}
.bg-yellow,
.bg-red,
.bg-green,
.bg-blue{
    padding: 1em 0;
}
.bg-red, .bg-yellow {
    margin-bottom: 1em;
}

#home_header > .rd-container {
    height: 100%;
}
#home_header > .rd-container > .rd-element {
    height: 100%;
}
.cotent-img {
    height: 100%;
}
.separator {
    display: block;
    width: 100%;
    height: 1em;
}
@media screen and (min-width: 1023px) {
    #menu {
        flex-direction: row;
    }
    #menu > li {
        margin-bottom: 0;
    }
    #menu >li > a > img {
        width: 30px;
        height: 30px;
    }
    .cotent-img img:first-child {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 228px;
    }
    .cotent-img img:nth-child(2) {
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        top: 20%;
        width: 430px;
        bottom: 0;
    }
    .cotent-img img:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #home_header {
        height: 310px;
    }

}
